.promo {
    height: 1024px;
    padding: 20px 0 0 150px;
    background: url(../img/space.png) center center/cover no-repeat;
}
    .logo {
        width: 285px;
        height: 135px;
        top: 19px;
    }
    .promo__title {
        font-family: 'Roboto', sans-serif;
        font-size: 96px;
        font-weight: 100;
        line-height: 113px;
        letter-spacing: 0em;
        text-align: left;
        color: #ffffff;
        margin-bottom: 16px;
    }
    .promo__text {
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 300;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
        color: #ffffff;
        margin-bottom: 210px;
    }
    .button {
        width: 269px;
        height: 61px;
        top: 769px;
        left: 140px;
        border-radius: 33px;
        background-color: #D4661C;
        background: linear-gradient(91.56deg, #D15A1A 5.5%, #EAB425 48.47%, #ECD85A 96.17%);
        font-size: 14px;
        font-weight: 700;
        line-height: 17px;
        letter-spacing: 0px;
        text-align: center;
        color: #fff;
        
    }
.thesun {
    height: 840px;
    padding: 200px 0 200px 150px;
    background: url(../img/sun.png) center center/cover no-repeat;
    background-color: black;
}
    .thesun__title {
        font-family: 'Roboto', sans-serif;
        color: #F3D7B3;
        font-weight: 300;
        font-size: 72px;
        line-height: 84px;
        margin: 250px 0 26px 0;
        margin-bottom: 26px;

    }
    .thesun__text {
        font-family: 'Roboto', sans-serif;
        color: #ffffff;
        font-weight: 100;
        font-size: 36px;
        line-height: 42px;
    }

.feelings {
    min-height: 2800px;
    padding: 140px 140px 140px 140px;
    background-color: black;
    display: flex;
    flex-direction: column;
    position: relative;
}
    .duotitle {
        font-family: 'Roboto', sans-serif;
        font-size: 36px;
        font-weight: 300;
        line-height: 42px;
        letter-spacing: 0em;
        text-align: left;
        color: #ffffff;
    }
    .duosubtitle {
        font-family: 'Roboto', sans-serif;
        font-size: 35px;
        font-weight: 100;
        line-height: 41px;
        letter-spacing: 0em;
        text-align: left;
        color: #ffffff;
        width: 560px;
    }

    .duotitle2 {
        font-family: 'Roboto', sans-serif;
        font-size: 36px;
        font-weight: 300;
        line-height: 42px;
        letter-spacing: 0em;
        text-align: left;
        color: #ffffff;
        position: absolute;
        left: 1200px;
        margin-top: -345px;
    }
    .duosubtitle2 {
        font-family: 'Roboto', sans-serif;
        font-size: 35px;
        font-weight: 100;
        line-height: 41px;
        letter-spacing: 0em;
        text-align: left;
        color: #ffffff;
        width: 560px;
        position: absolute;
        left: 1200px;
        margin-top: -300px;
    }

    .face {
        position: absolute;
        width: 459px;
        height: 459px;
        left: 1200px;
        margin-top: -300px;
    }
    .face2 {
        width: 459px;
        height: 459px;
        margin-top: 150px;
    }

.sandpipl {
    min-height: 500px;
    background: url(../img/sand.png) center center/cover no-repeat;
    padding: 200px 150px;
}
    .sandpiple__title {
        color: #ffffff;
        font-family: 'Roboto', sans-serif;
        font-size: 50px;
        font-weight: 700;
        line-height: 59px;
        letter-spacing: 0em;
        margin-top: 80px;
    }

.question {
    background-color: black;
    min-height: 500px;
    padding: 50px 150px 0 150px;
    position: relative;
}
    .question__title {
        margin-top:0;
        font-family: 'Roboto', sans-serif;
        font-size: 72px;
        font-weight: 300;
        line-height: 84px;
        letter-spacing: 0em;
        text-align: left;
        color: #F3D7B3;
    }
    .question__subtitle__one{
        font-family: 'Roboto', sans-serif;
        font-size: 30px;
        font-weight: 400;
        line-height: 35px;
        letter-spacing: 0em;
        text-align: left;
        color: #F3D7B3;
    }
    .question__subtitle__two {
        font-family: 'Roboto', sans-serif;
        font-size: 30px;
        font-weight: 100;
        line-height: 35px;
        letter-spacing: 0em;
        text-align: left;
        color: #a7a7a7;
        margin-top: 30px;
    }
    .question__subtitle__three {
        font-family: 'Roboto', sans-serif;
        font-size: 30px;
        font-weight: 700;
        line-height: 35px;
        letter-spacing: 0em;
        text-align: left;
        color: #ffffff;
        margin-top: 30px;
    }
    .question__button {
        width: 399px;
        height: 78px;
        margin-top: 80px;
        margin-bottom: 60px;
        background-color: #F3D7B3;
        border-radius: 33px;
        font-size: 25px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0px;
        text-align: center;
        color: #ffffff;
        &:hover {
            background-color: #ECD657;
        }
    }
    .question__img {
        position: absolute;
        width: 440px;
        height: 750px;
        left: 970px;
        bottom: 200px;
    }

.getfile {
    padding: 50px 150px 20px 150px;
    background-color: black;
    position: relative;
}
    .getfile__title {
        font-family: 'Roboto', sans-serif;
        font-size: 72px;
        font-weight: 300;
        line-height: 84px;
        letter-spacing: 0em;
        text-align: left;
        color: #F3D7B3;
    }
    .action__icons {
        width: 120px;
        height: 120px;
        position: absolute;
        margin-top: -25px;
        margin-left: -20px;
    }
    .action__title {
        font-family: 'Roboto', sans-serif;
        font-size: 30px;
        font-weight: 700;
        line-height: 35px;
        letter-spacing: 0em;
        text-align: left;
        color: #ffffff;
        margin-left: 100px;
    }
    .action__subtitle {
        margin-top: 40px;
        font-family: 'Roboto', sans-serif;
        font-size: 30px;
        font-weight: 100;
        line-height: 35px;
        letter-spacing: 0em;
        text-align: left;
        color: #a7a7a7;
    }
    .action__img {
        width: 880px;
        height: 660px;
        position: absolute;
        left: 800px;
        top: 150px;
    }
    .manual__icons {
        width: 120px;
        height: 120px;
        position: absolute;
        margin-top: -25px;
        margin-left: -20px;
    }
    .manual__title {
        font-family: 'Roboto', sans-serif;
        font-size: 30px;
        font-weight: 700;
        line-height: 35px;
        letter-spacing: 0em;
        text-align: left;
        color: #ffffff;
        margin-left: 100px;
        margin-top: 250px;
    }
    .manual__subtitle {
        margin-top: 40px;
        font-family: 'Roboto', sans-serif;
        font-size: 30px;
        font-weight: 100;
        line-height: 35px;
        letter-spacing: 0em;
        text-align: left;
        color: #a7a7a7;
        margin-bottom: 250px;

    }
    .manual__img {
        width: 900px;
        height: 400px;
        position: absolute;
        left: 800px;
        top: 950px;
    }
    .premiums__titleone {
        margin-top:0;
        font-family: 'Roboto', sans-serif;
        font-size: 72px;
        font-weight: 300;
        line-height: 84px;
        letter-spacing: 0em;
        text-align: left;
        color: #F3D7B3;
        margin-bottom: 50px;
    }
    .premium__icons {
        width: 120px;
        height: 120px;
        position: absolute;
        margin-top: -25px;
        margin-left: -20px;
    }
    .premium__title {
        font-family: 'Roboto', sans-serif;
        font-size: 30px;
        font-weight: 700;
        line-height: 35px;
        letter-spacing: 0em;
        text-align: left;
        color: #ffffff;
        margin-left: 100px;
        margin-top: 0px;
    }
    .premium__subtitle {
        margin-top: 40px;
        font-family: 'Roboto', sans-serif;
        font-size: 30px;
        font-weight: 100;
        line-height: 35px;
        letter-spacing: 0em;
        text-align: left;
        color: #a7a7a7;
        margin-bottom: 250px;
    }
    .premium__img {
        width: 900px;
        height: 400px;
        position: absolute;
        left: 800px;
        top: 1590px;
    }
    .stone__icons{
        width: 120px;
        height: 120px;
        position: absolute;
        margin-top: -45px;
        margin-left: -20px;
    }
    .stone__title {
        font-family: 'Roboto', sans-serif;
        font-size: 30px;
        font-weight: 700;
        line-height: 35px;
        letter-spacing: 0em;
        text-align: left;
        color: #ffffff;
        margin-left: 100px;
        margin-top: 0px;
    }
    .stone__subtitle {
        margin-top: 40px;
        font-family: 'Roboto', sans-serif;
        font-size: 30px;
        font-weight: 100;
        line-height: 35px;
        letter-spacing: 0em;
        text-align: left;
        color: #a7a7a7;
        margin-bottom: 250px;
    }
    .stone__img {
        width: 330px;
        height: 430px;
        position: absolute;
        left: 400px;
        top: 2105px;
    }
    .rose__icons{
        width: 120px;
        height: 120px;
        position: absolute;
        margin-top: -25px;
        margin-left: -20px;
    }
    .rose__title {
        font-family: 'Roboto', sans-serif;
        font-size: 30px;
        font-weight: 700;
        line-height: 35px;
        letter-spacing: 0em;
        text-align: left;
        color: #ffffff;
        margin-left: 100px;
        margin-top: 0px;
    }
    .rose__subtitle {
        margin-top: 40px;
        font-family: 'Roboto', sans-serif;
        font-size: 30px;
        font-weight: 100;
        line-height: 35px;
        letter-spacing: 0em;
        text-align: left;
        margin-left: 220px;
        color: #a7a7a7;
        margin-bottom: 250px;
    }
    .rose__img {
        width: 330px;
        height: 430px;
        position: absolute;
        bottom: 80px;
        left: -100px;
    }
    .rose {
        position: absolute;
        left: 980px;
        bottom: 75px;
    } 

.price {
    background-color: black;
    padding: 50px 150px 200px 150px;
    position: relative;
}
    .price__title {
        font-family: 'Roboto', sans-serif;
        font-size: 72px;
        font-weight: 300;
        line-height: 84px;
        letter-spacing: 0em;
        text-align: left;
        color: #F3D7B3;
    }
    .standart {
        width: 450px;
        height: 680px;
        background: linear-gradient(180deg, #1F1F1F 0%, rgba(31, 31, 31, 0) 79.32%);
        box-shadow: 0px 0px 40px 0px #F3D7B31A;
        border-radius: 24px;
        padding: 35px 0 0 35px;
    }
    .standart__subtitle {
        color: #F3D7B3;
        font-family: 'Roboto', sans-serif;
        font-size: 28px;
        font-weight: 400;
    }
    .standart__content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
        .standart__icons {
            display: flex;
            width: 70px;
            height: 70px;
        }
        .standart__text {
            font-family: 'Roboto', sans-serif;
            font-size: 18px;
            font-weight: 300;
            line-height: 21px;
            letter-spacing: 0em;
            text-align: left;
            color: #ffffff;
            margin-left: 20px;
            margin-top: 20px;
        }
        .standart__coupon {
            width: 390px;
            height: 226px;
            margin-top: 420px;
        }
        .standart__pritext {
            position: absolute;
            font-family: 'Roboto', sans-serif;
            font-size: 20px;
            font-weight: 300;
            line-height: 23px;
            letter-spacing: 0em;
            text-align: left;
            color: #525252;
            top: 950px;
            left: 330px;
        }
        .standart__price {
            position: absolute;
            top: 975px;
            left: 330px;
            font-family: 'Roboto', sans-serif;
            font-size: 26px;
            font-weight: 500;
            line-height: 30px;
            letter-spacing: 0em;
            color: #A7875F;
            background: linear-gradient(180deg, #CBB191 0%, #A7875F 100%);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
        }
        .standart__purchase {
            width: 262px;
            height: 59px;
            top: 1035px;
            left: 250px;
            position: absolute;
            border-radius: 5px 20px 5px 20px;
            background: linear-gradient(91.56deg, #DAC1A0 5.5%, #C3A885 48.47%, #C1A683 96.17%);
            box-shadow: 0px 2px 0px 0px #AE926D;
            box-shadow: 0px 4px 0px -2px #F0DEC6CC inset;
            box-shadow: 0px 0px 100px 0px #C1A68399;
            font-family: 'Roboto', sans-serif;
            font-size: 18px;
            font-weight: 300;
            line-height: 55px;
            letter-spacing: 0px;
            text-align: center;
            color: #ffffff;
        }

    .premium2 {
        width: 450px;
        height: 680px;
        background: linear-gradient(180deg, #1F1F1F 0%, rgba(31, 31, 31, 0) 79.32%);
        box-shadow: 0px 0px 40px 0px #F3D7B31A;
        border-radius: 24px;
        padding: 35px 0 0 35px;
        position: absolute;
        left: 1200px;
        top: 250px;
    }
    .premium2__subtitle {
        color: #F3D7B3;
        font-family: 'Roboto', sans-serif;
        font-size: 28px;
        font-weight: 400;
    }
    .premium2__content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
        .premium2__icons {
            display: flex;
            width: 70px;
            height: 70px;
        }
        .premium2__text {
            font-family: 'Roboto', sans-serif;
            font-size: 18px;
            font-weight: 300;
            line-height: 21px;
            letter-spacing: 0em;
            text-align: left;
            color: #ffffff;
            margin: 20px 10px 0 20px;
        }
        .premium2__coupon {
            width: 390px;
            height: 226px;
            margin-top: 210px;
        }
        .premium2__pritext {
            position: absolute;
            font-family: 'Roboto', sans-serif;
            font-size: 20px;
            font-weight: 300;
            line-height: 23px;
            letter-spacing: 0em;
            text-align: left;
            color: #525252;
            top: 695px;
            left: 180px;
        }
        .premium2__price {
            position: absolute;
            top: 720px;
            left: 180px;
            font-family: 'Roboto', sans-serif;
            font-size: 26px;
            font-weight: 500;
            line-height: 30px;
            letter-spacing: 0em;
            color: #A7875F;
            background: linear-gradient(180deg, #CBB191 0%, #A7875F 100%);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
        }
        .premium2__purchase {
            width: 262px;
            height: 59px;
            top: 781px;
            left: 100px;
            position: absolute;
            border-radius: 5px 20px 5px 20px;
            background: linear-gradient(91.56deg, #DAC1A0 5.5%, #C3A885 48.47%, #C1A683 96.17%);
            box-shadow: 0px 2px 0px 0px #AE926D;
            box-shadow: 0px 4px 0px -2px #F0DEC6CC inset;
            box-shadow: 0px 0px 100px 0px #C1A68399;
            font-family: 'Roboto', sans-serif;
            font-size: 18px;
            font-weight: 300;
            line-height: 55px;
            letter-spacing: 0px;
            text-align: center;
            color: #ffffff;
        }
.sunworked {
    min-height: 720px;
    background: url(../img/potok.png) center center/cover no-repeat;
    background-color: #000000;
    padding: 200px 150px;
}
    .sunworked__title {
        font-family: 'Roboto', sans-serif;
        font-size: 72px;
        font-weight: 300;
        line-height: 84px;
        letter-spacing: 0em;
        text-align: left;
        color: #F3D7B3;
        margin-top: 0;
    }
    .sunworked__glass {
        width: 650px;
        height: 224px;
        border-radius: 20px;
        background: #00000066;
        padding: 50px 0 0 50px;
        margin-top: 190px;
    }
    .sunworked__subtitle {
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 100;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: left;
        color: #ffffff;
        width: 554px;
        height: 224px;
    }
.commas {
    height: 578px;
    background-color: #000000;
    padding: 50px 150px;
    position: relative;
}
    .commas__girl {
        width: 312px;
        height: 578px;
        background: linear-gradient(180deg, rgba(15, 15, 15, 0) 0%, #0F0F0F 100%);
    }
    .commas__comm1, .commas__comm2  {
        width: 124px;
        height: 338px;
        font-family: 'Roboto', sans-serif;
        font-size: 288px;
        font-weight: 900;
        line-height: 338px;
        letter-spacing: 0em;
        text-align: left;
        background: #FFFFFF1A;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        position: absolute;
        left: 640px;
        top: 80px;
    }
    .commas__comm2 {
        position: absolute;
        left: 1400px;
        top: 390px;
    }
    .commas__tetx {
        width: 800px;
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        font-style: italic;
        font-weight: 100;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: left;
        color: #fff;
        position: absolute;
        left: 700px;
        top: 200px;
    }
.sunthis {
    min-height: 700px;
    background-color: #000000;
    padding: 50px 150px;
    position: relative;
}
    .sunthis__title {
        font-family: Roboto;
        font-size: 30px;
        font-weight: 400;
        line-height: 35px;
        letter-spacing: 0em;
        text-align: left;
        color: #ffffff;
    }
    .sunthis__content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
        .cuntthis__contentone {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 500px;
        }
        .cuntthis__contenttwo {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 500px;
            margin-left: 500px;
        }
            .sunthis__text {
                width: 472px;
                font-family: 'Roboto', sans-serif;
                font-size: 28px;
                font-weight: 100;
                line-height: 33px;
                letter-spacing: 0em;
                text-align: left;
                color: #ffffff;
                margin-left: 80px;
                margin-top: -60px;
            }
            .sunthis__icons {
                display: flex;
                width: 90px;
                height: 90px;
            }
.reviews{
    min-height: 700px;
    background-color: #000000;
    padding: 50px 150px;
    position: relative;
}
    .reviews_title {
        font-family: 'Roboto', sans-serif;
        font-size: 72px;
        font-weight: 300;
        line-height: 84px;
        letter-spacing: 0em;
        text-align: left;
        color: #F3D7B3;
        margin-top: 0;
    }
    .reviews__content{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
        .reviews__text {
            font-family: 'Roboto', sans-serif;
            width: 230px;
            font-size: 22px;
            font-weight: 300;
            line-height: 27px;
            letter-spacing: 0em;
            text-align: center;
            color: #ffffff;
            margin-left: 190px;
        }
        .reviews__text1 {
            margin-left: 400px;
        }
        .reviews__icons {
            position: absolute;
            width: 305px;
            height: 305px;
            left: 300px;
            top: 430px;
        }
        .reviews__icons1 {
            position: absolute;
            width: 305px;
            height: 305px;
            left: 1130px;
            top: 430px;
        }
        .reviews__icons2 {
            position: absolute;
            width: 305px;
            height: 305px;
            left: 300px;
            top: 950px;
        }
        .reviews__icons3 {
            position: absolute;
            width: 305px;
            height: 305px;
            left: 1130px;
            top: 950px;
        }
        .reviews__img {
            width: 620px;
        }
        .reviews__img1 {
            width: 620px;
            margin-left: 200px;
        }

.footar {
    min-height: 400px;
    background-color: #000000;
    padding: 10px 150px;
    position: relative;
}
    .footar__woman {
        width: 374px;
        height: 777px;
        background: linear-gradient(179.95deg, rgba(14, 14, 14, 0) 0.04%, #0C0C0C 96.37%);
    }
    .footar__info {
        width: 450px;
        height: 400px;
        position: absolute;
        left: 1200px;
        top: 250px;
    }
        .instagramm {
            background-color: #1f1f1f;
            width: 290px;
            height: 75px;
            border-radius: 25px;
            padding: 22px;
            display: flex;
            flex-direction: row;
        }
            .instagramm__icon{
                width: 45px;
                height: 45px;
            }
            .instagramm__nameinst {
                font-family: 'Roboto', sans-serif;
                font-size: 19px;
                font-weight: 300;
                line-height: 23px;
                letter-spacing: 0em;
                text-align: center;
                color: #ffffff;
                margin: 10px 0 0 30px;
            }
            .footar__button {
                width: 300px;
                height: 59px;
                border-radius: 10px 20px 10px 20px;
                background: linear-gradient(91.56deg, #C3A885 5.5%, #C1A683 10%, #C1A68399 96.17%);
                box-shadow: 0px 0px 100px 0px #C1A68399;
                font-family: 'Roboto', sans-serif;
                font-size: 14px;
                font-weight: 500;
                line-height: 17px;
                letter-spacing: 0px;
                text-align: center;
                color: #f0f0f0;
                position: absolute;
                left: 15px;
                top: 100px;
            }
            .footar_textone {
                font-family: 'Roboto', sans-serif;
                font-size: 18px;
                font-weight: 100;
                line-height: 21px;
                letter-spacing: 0em;
                text-align: left;
                color: #fff;
                margin-left: 22px;
                margin-top: 75px;
            }
            .footar_texttwo {
                font-family: 'Roboto', sans-serif;
                font-size: 18px;
                font-weight: 400;
                line-height: 21px;
                letter-spacing: 0em;
                text-align: left;
                color: #545454;
                margin-left: 22px;
                margin-top: 20px;
            }

